p { 
  color: red; 
  font-size: 22pt; 
}

#gruby_nazwisko_ucznia { 
  color: green; 
  font-size: 17pt; 
  font-weight: bold; 
}

#dlawszystkich_nazwisko_ucznia { 
  color: yellow; 
  font-size: 10pt; 
  font-family: Arial; 
}
